@model IEnumerable<HikingPlanAndRescue.Web.ViewModels.Tracks.TrackPublicViewModel>

@foreach (var item in Model)
{
    <div class="col-md-3">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-6">
                <button class="glyphicon glyphicon-thumbs-up btnVote" data-id="@item.Id" data-value="1" onclick="onBtnVoteClick(this)"> </button>
                <br />
                <span class="votesCount" data-id="@item.Id">@item.VotesCount</span>
                <br />
                <button class="glyphicon glyphicon-thumbs-down btnVote" data-id="@item.Id" data-value="-1" onclick="onBtnVoteClick(this)"> </button>
            </div>
        }
        <div class="col-md-6">
            <h3>@item.Title</h3>
            <p>@item.Author</p>
        </div>
    </div>
}