@model IEnumerable<HikingPlanAndRescue.Web.Areas.Private.Models.TrainingCheckedInListItemViewModel>

@foreach (var tr in Model)
{
    <div class="list-group-item">

        <h2 class="lead">
            <strong> @tr.User.FirstName @tr.User.LastName</strong>

            @if (tr.EndDate < DateTime.Now.AddHours(-5))
            {
                <span class="label label-danger">WAY OVERDUE!</span>
            }
            else if (tr.EndDate < DateTime.Now.AddHours(-1))
            {
                <span class="label label-warning">OVERDUE!</span>
            }
            else if (tr.StartDate <= DateTime.Now)
            {
                <span class="label label-info">In progress...</span>
            }
            else if (tr.StartDate > DateTime.Now)
            {
                <span class="label label-default">Not started.</span>
            }
        </h2>

        @if (tr.EndDate < DateTime.Now.AddHours(-5))
        {
            <p class="lead text-danger">
                <strong>Due to Check-Out: </strong>@tr.EndDate
            </p>
        }
        else if (tr.EndDate < DateTime.Now.AddHours(-1))
        {
            <p class="text-warning">
                <strong>Due to Check-Out: </strong>@tr.EndDate
            </p>
        }
        else
        {
            <p class="text-info">
                <strong>Due to Check-Out: </strong>@tr.EndDate
            </p>
        }

        <p class="text-primary">
            Contact: <strong>@tr.User.GSM </strong>
        </p>

        <p>
            <strong>Track Title:</strong> @tr.Track.Title
        </p>

        <p class="text-muted small">
            Checked-In on: <strong>@tr.CheckedInOn </strong>
            Start time: <strong>@tr.StartDate</strong>
        </p>
    </div>
}